.container {
width: 500px;
padding: 20px;
margin: auto;
border: 1px solid black;
border-radius: 20px;
text-align: center;
background-color:gray;
}

.red, .green, .yellow {
display: inline-block;
width: 100px;
height:200px;
}
.red{
	background-color:red;
	border-radius:50%;
	width:100px;
	height:100px;
}
.yellow{
	background-color:yellow;
	border-radius:50%;
	width:100px;
	height:100px;
}
.green{
	background-color:green;
	border-radius:50%;
	width:100px;
	height:100px;
}